.admin-page-main-rapper {
  width: 90%;
  margin: 2rem auto;
  max-height: 95vh;
  overflow-y: scroll;

  .std-input_admin-page {
    margin-top: 5rem;
  }
}

.login-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 20;
  background-color: $main-color;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  section {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    div {
      width: 100%;
      margin: auto;
    }

    label {
      margin: 5rem auto 1rem;
    }

    p {
      margin: 0;
    }
  }
}
