$button-height: 16px;
$button-width: 96px;
$press-time: 0.4s;

.button {
  box-shadow: 0px 5px 0 12px #352d2d, 0px 15px 0 20px #181818;
  cursor: pointer;
  background-color: #3c096c;
  position: absolute;
  border-radius: 50%;
  top: 80vh;
  left: 50%;
  width: $button-width;
  height: $button-height;
  transform: translateX(-50%);

  &::before {
    content: '';
    z-index: 1;
    border-radius: 50%;
    background-color: #9d4edd;
    position: absolute;
    bottom: 100%;
    left: 0%;
    transition: bottom $press-time;
    width: $button-width;
    height: $button-height;
  }

  &::after {
    content: '';
    background-color: #3c096c;
    position: absolute;
    bottom: 50%;
    left: 0%;
    width: $button-width;
    height: $button-height;
    transition: height $press-time;
  }

  &:active {
    &::before {
      bottom: 10%;
    }
    &::after {
      height: 10%;
    }
  }

  @media (min-width: 800px) {
    top: 90vh;
    right: 10%;
    left: auto;
    transform: none;
  }
}

.register-child-wrapper {
  .std_text {
    font-size: 1.5rem;
    position: absolute;
    top: 75vh;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 3rem auto 0;
    height: 4rem;
    z-index: 3;
  }
}

.threeDhand {
  width: 5rem;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: 2;
  top: 68vh;
  left: calc(50vw - 2.5rem);
  transform: rotate(0.25turn);
  animation: updown 2000ms ease-in infinite;

  @media (min-width: 800px) {
    top: 85vh;
    left: auto;
    right: 10%;
  }
}
@keyframes updown {
  0% {
    top: 68vh;
  }
  50% {
    top: 71vh;
  }
  100% {
    top: 68vh;
  }
}

@media (min-width: 800px) {
  @keyframes updown {
    0% {
      top: 75vh;
    }
    50% {
      top: 80vh;
    }
    100% {
      top: 75vh;
    }
  }
}
h1 {
  font-family: Arial;
  font-weight: 100;
  text-align: center;
}

.pink-button,
.white-button,
.purple-button {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(75deg, $third-color, $secondary-color);
  text-align: center;
  border-radius: 0.5rem;
  margin: 3rem auto;
  border: none;
  font-family: $main-font;
  font-size: 2rem;
  box-shadow: inset 1.5px 1.5px 3px 3px rgba(0, 0, 0, 0.3), inset -1.5px -1.5px 3px 2px rgba(255, 255, 255, 0.3);
  cursor: pointer;

  &:active {
    background-color: rgb(168, 14, 130);
  }
}

.white-button {
  background-image: linear-gradient(75deg, rgb(144, 144, 255), #f2f2f2);
  color: $main-color;
  &:active {
    background-color: rgb(94, 94, 94);
  }
}

.purple-button {
  background-image: linear-gradient(75deg, rgb(3, 137, 247), #ff00dd);
  color: white;
  &:active {
    background-color: rgb(94, 94, 94);
  }
}
