* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.std_text,
.std-text-info {
  color: $secondary-color;
  font-family: 'postino-std', serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.5rem;
}

.std-text-info {
  color: white;
  font-family: terfens, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

.std-title,
.std-title-white {
  color: $secondary-color;
  font-family: 'postino-std', serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.std-title-white {
  color: white;
}

.pink-text {
  background-image: linear-gradient(45deg, $secondary-color, $third-color);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: 'postino-std', serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 2rem;
}

.std-input {
  background-color: #242424;
  border: 2px solid #4e4e4e;
  box-shadow: 7px 5px #333233;
  box-shadow: 7px 5px #333233, 7px 5px #000000 inset;
  -webkit-box-shadow: 7px 5px #333233, inset 7px 5px #000000;
  width: 100%;
  border-radius: 0.5rem;
  height: 3.5rem;
  max-width: 450px;
  margin: auto;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  color: white;
  font-family: 'postino-std', serif;
  font-size: 1.2rem;

  &:focus {
    border: 2px solid $third-color;
    outline: none;
  }
}

.std-spacer {
  width: 100%;
  height: 3rem;
}
