.QR-code-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-bottom: 8rem;
  top: 0;
  left: 0;
  z-index: 5;
  overflow-y: scroll;
  background-color: $main-color;
}

.inputWrapper {
  margin: 0px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.inputBox {
  flex-grow: 1;
  margin-right: 20;
}

.canvas-wrapper {
  margin: 0;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  canvas {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    padding: 0;
    transform: none;
  }
}

.subwrapper {
  width: 90%;
  max-width: 600px;
  margin: 3rem auto 0;
}
