.child-main-wrapper {
  width: 90%;
  margin: auto;
  max-width: 600px;
  height: 95vh;
  overflow-y: scroll;

  section {
    margin: 2rem auto;
  }
}
.child_photo_wrapper {
  height: 80vw;
  width: 80vw;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  border-radius: 50%;
  background-image: linear-gradient(70deg, $secondary-color, $third-color);

  .child_photo {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/boy_icon.png');
  }
}

.child_avatar_girl {
  background-image: url('../images/girl-icon.png');
}

.child-row_status_in,
.child-row_status_out {
  width: 100%;
  padding: 1rem;
  background-color: rgb(73, 194, 103);
  border-radius: 0.5rem;
  margin: 3rem auto 5rem;
}

.child-row_status_out {
  background-color: tomato;
}
